@model OrdersWeb.Models.Order
@{
    ViewBag.Title = "Home Page";
}
<h3>@ViewBag.Title</h3>

@Html.EditorFor(model=>model.OrderNumber)
@Html.EditorFor(model=>model.PoNumber)
@Html.EditorFor(model=>model.OrderDate)
@Html.EditorFor(model=>model.Vendor)
@Html.EditorFor(model=>model.Items)
