@model IEnumerable<OrdersWeb.Models.Category>

@{
    ViewBag.Title = "Categories";
}

<h2>@ViewBag.Title</h2>
<hr />
<div style="margin:0 auto;width:50%">
<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-primary"})
</p>
<table class="table" style="width:500px">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th width="150"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class="btn btn-primary btn-sm"})
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
</div>
