@model OrdersWeb.Models.Order

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div width="1200px" class="clearfix">
            <div class="clearfix">
                <div class="form-group" style="float:left">
                    @*@Html.LabelFor(model => model.OrderNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.OrderNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "Order Number" } })
                        @Html.ValidationMessageFor(model => model.OrderNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="float:left">
                    @*@Html.LabelFor(model => model.PoNumber, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.PoNumber, new { htmlAttributes = new { @class = "form-control", placeholder = "PO Number" } })
                        @Html.ValidationMessageFor(model => model.PoNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="float:left">
                    @*@Html.LabelFor(model => model.OrderDate, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.OrderDate, new { htmlAttributes = new { @class = "form-control", type="date"} })
                        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="float:left">
                    @*@Html.LabelFor(model => model.Vendor, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <div class="col-md-11">
                        @Html.EditorFor(model => model.Vendor, new { htmlAttributes = new { @class = "form-control", placeholder="Vendor"} })
                        @Html.ValidationMessageFor(model => model.Vendor, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <h4>Items</h4>
            <div class="clearfix" style="margin-bottom:20px">
                @Html.EditorFor(model => model.Items, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Items, "", new { @class = "text-danger" })
                @*@Html.LabelFor(model => model.Items, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
            </div>*@
            </div>

            <div class="clearfix">
                @*@Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div style="width:100%">
                    @Html.TextAreaFor(model => model.Notes,  new { @class = "form-control textarea", placeholder="Notes", style="width:880px" } )
                    @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                </div>
            </div>



            <div>
                <div>
                    <br /><input type="submit" name="action:Create" value="Create" class="btn btn-success" style="float:left;margin-right:10px" /><div id="addNewRow" class="btn btn-primary" style="float:left;margin-right:50px">Add New Item</div>
                    
                </div>
            </div>
        </div>
    </div>
}

<div><br />
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $("#addNewRow").click(function () {
            var valid = true;
            $("[data-val-required]").each(function () {
                if ($.trim($(this).val()) == "") {
                    valid = false;
                }
            });
            if (valid != false) {
                $('form').append("<input type='hidden' name='addRow' value='true' />");
                
            }
            $('form').submit();
        });
       
    </script>
}
