@model IEnumerable<OrdersWeb.Models.Order>

@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>
<hr />
<p>
    @Html.ActionLink("Create New", "Add", null, new { @class = "btn btn-primary" })
    <button class="btn btn-info productView showProducts">Show/Hide Products</button>
    <span>@ViewBag.displayDate - Today</span>
    <div class="row">
        <div class="col-sm-12">
            Select Date: <span><input type="text" id="earliestDate" class="form-control" /></span>
        </div>
        
    </div>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>
        <th>
            Total
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PoNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vendor)
        </th>
        <th width="200"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="background-color:Highlight">
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @{
                    double total = 0.00;
                    foreach (var t in item.Items)
                    {
                        total += (t.Quantity * t.Price);
                    }
                }
                $@String.Format("{0:0.00}",total)
         
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class="btn btn-primary btn-sm"})
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info btn-sm" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" })
            </td>
            
            
        </tr>
        <tr class="products">
            <td colspan="7">
                <div>
                    <table class="table products">
                        @foreach(var product in item.Items)
                        {
                            <tr>
                                <td>@product.Category.CategoryName</td><td>@product.BillingCategory.BillingCategoryName</td><td>@product.ItemDescription</td><td>@product.Quantity</td><td>@product.Price.ToString("C")</td>
                            </tr>
                        }
                    </table>
                </div>
            </td>
        </tr>
        @*foreach (var x in item.Items)
        {
            <tr>
                <td>
                    @Html.DisplayFor(u => x.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(u => x.BillingCategory)
                </td>
                <td>
                    @Html.DisplayFor(u => x.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(u => x.Price)
                </td>
                <td></td>
            </tr>
        }*@
    }

</table>

@section scripts{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#earliestDate").datepicker();
            $(".products").hide();
            $(".productView").click(function () {
                if ($(this).hasClass("showProducts")) {
                    $(".products").show();
                    $(this).removeClass("showProducts").addClass("hideProducts");
                } else {
                    $(".products").hide();
                    $(this).removeClass("hideProducts").addClass("showProducts");
                }
            });
        });
        $(document).on("change", "#earliestDate", function () {
            window.location = "?earliestDate=" + $(this).val();
        });
    </script>
    

}